@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium/Roboto-Medium.eot');
    src: url('../fonts/Roboto-Medium/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Medium/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light/Roboto-Light.eot');
    src: url('../fonts/Roboto-Light/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Light/Roboto-Light.woff') format('woff'),
        url('../fonts/Roboto-Light/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Italic';
    src: url('../fonts/Roboto-Italic/Roboto-Italic.eot');
    src: url('../fonts/Roboto-Italic/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Italic/Roboto-Italic.woff') format('woff'),
        url('../fonts/Roboto-Italic/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Podkova-Bold';
    src: url('../fonts/Podkova-Bold/Podkova-Bold.eot');
    src: url('../fonts/Podkova-Bold/Podkova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Podkova-Bold/Podkova-Bold.woff') format('woff'),
        url('../fonts/Podkova-Bold/Podkova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Podkova-Medium';
    src: url('../fonts/Podkova-Medium/Podkova-Medium.eot');
    src: url('../fonts/Podkova-Medium/Podkova-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Podkova-Medium/Podkova-Medium.woff') format('woff'),
        url('../fonts/Podkova-Medium/Podkova-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Podkova-Regular';
    src: url('../fonts/Podkova-Regular/Podkova-Regular.eot');
    src: url('../fonts/Podkova-Regular/Podkova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Podkova-Regular/Podkova-Regular.woff') format('woff'),
        url('../fonts/Podkova-Regular/Podkova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
