// colors
$accent: #31DEE0
$accent_dark: #27B2B3
$bg_main: #27273C
$bg_secondary: #323248
$bg_light:  #A9E0E1
$text_dark: #212121
$text_medium: #666666
$text_disabled: #9E9E9E
$divs_bg: #3e3e3e

%pseudo
    content: ''
    position: absolute

%span_base
    width: 100%
    height: 2px
    background: #fff
    transition: all 0.3s
    backface-visibility: hidden
    border-radius: 2px
    
.clearfix::after
    content: ''
    display: table
    clear: both

=display_flex_row
    display: flex
    flex-flow: row wrap
    justify-content: space-between

=display_flex_column
    display: flex
    flex-flow: column wrap
    justify-content: space-between

%center
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)

%centered
    position: absolute
    left: 50%
    transform: translateX(-50%)

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active
    transition: background-color 5000s ease-in-out 0s
    -webkit-text-fill-color: white !important
    color: white !important

form
    ::-webkit-input-placeholder
        color: rgba(255, 255, 255, 0.7)
    ::-moz-placeholder
        color: rgba(255, 255, 255, 0.7)
    :-moz-placeholder
        color: rgba(255, 255, 255, 0.7)
    :-ms-input-placeholder
        color: rgba(255, 255, 255, 0.7)
