@media only screen and (max-width : 1360px)
    .content
        padding: 0 16px
        .top_nav
            ul
                justify-content: space-between
        .lang
            padding-left: 15px
            margin-left: 10px
    .video_presentation_title
        padding-left: 0
    .advantages
        padding: 16px
        padding-bottom: 60px
        .slides_pagination
            left: 32px
        #advantages_slider_arrows
            left: 100px
    .video_presentation_title
        &:before
            left: 0
    .our_offers
        padding: 16px
        padding-top: 50px
        padding-bottom: 90px
    .partners
        padding: 10px 16px
    .we_done
        padding: 16px
    .team
        padding: 20px 16px
        margin-top: 40px
        h2
            margin-left: 0
    .faq
        padding: 0 16px
    #about_us
        padding: 0 16px
    footer
        .content
            padding: 0 4%
@media only screen and (max-width : 1140px)
    header
    &.header_on_scroll
        .top_nav
            width: 500px
@media only screen and (max-width : 992px)
    .our_offers, .we_done, .team, .partners
        padding-left: 16px
        padding-right: 16px
    .content
        .top_nav
            order: 1
    #advatages_slider
        .advantages_slide
            flex-direction: column-reverse
            .slide-content
                padding-top: 20px
        .slide-img:after
            background-image: url("../img/bg/slide_image_bg_tablet.png")
        ul
            min-width: 100%
    .advantages
        padding-bottom: 28px
        .advantages_subscribe_form
            display: none
        .slides_pagination
            left: calc(100% - 200px)
            bottom: 40px
        #advantages_slider_arrows
            left: calc(100% - 100px)
            bottom: 40px
    #offers_slider_arrows
        bottom: 60px
        left: 50%
        transform: translateX(-50%)
        text-align: center
        min-width: 100px
    .offers_slide
        .slide_info_buttons
            width: 100%
            padding: 0
            justify-content: space-between
            a:first-child
                margin: 0
    .content
        .topline
            margin-bottom: 0
        .logo
            transform: translateX(0)
            left: 0
        .top_nav
            width: 100%
            ul
                li
                    padding: 0
    .faq_content
        .faq_logo
            display: none
        .faq_answers
            max-width: calc(100% - 320px)
            margin: 0
    header.header_on_scroll
        .topline
            justify-content: flex-end
        .top_nav
            display: none
        .logo
            flex-grow: 10
    .footer_top
        .footer_nav
            padding: 0 32px
            ul
                width: 90px
                flex-direction: column
                align-items: flex-start
                li
                    margin: 5px 0
    .footer_bottom
        .copy_and_social
            flex-direction: column-reverse
            padding: 0
            width: 200px
            border-right: none
            align-items: flex-start
            &:after
                display: none
            .social
                margin-bottom: 24px
        .subscribe_form
            width: calc(100% - 230px)
@media only screen and (max-width : 767px)
    .contact_us-top
        padding: 0
        flex-wrap: nowrap
    .team_popup .team_popup_content
        flex-direction: column
        &>div
            width: 100%
        .team_popup_left
            padding: 0 16px
            padding-top: 30px
            .member-info
                flex-direction: row
            .member_main
                padding-left: 16px
                padding-right: 50px
        .team_popup_right
            margin-top: 0
            padding: 0 16px
            border-left: none
            &:before
                display: none

    .callback_popup
        .callback_popup_header
            padding: 16px
        .callback_popup_content
            padding: 16px
        .contact_us-top
            padding: 0
        .popup_form
            flex-direction: column
            &>div
                width: 100%
            .file_input
                width: 260px
                background-size: contain
    .contact_us_popup_header, .contact_us_popup_footer, .callback_popup_header
        padding: 16px
        .copy_and_social
            flex-wrap: nowrap
    .contact_us_popup_content
        max-width: 100%
        padding: 16px
        margin-top: 16px
        .contact_us-top
            padding: 0
            flex-wrap: nowrap
        .popup_form
            flex-direction: column
            &>div
                width: 100%
        .file_input
            width: 260px
            background-size: contain
        a.callback
            min-width: 102px
    .case_popup
        .case_popup_top
            padding: 0 16px
        .we_done_top
            padding: 16px
            flex-wrap: nowrap
            #case_popup_slider_arrows
                min-width: 100px
        .we_done_slide .we_done_slide_img img
            width: auto
            max-width: none
        .slide_wrap
            width: calc(100% - 32px)
        .we_done_slide_content
            flex-direction: column
            .content_left, .content_right
                width: 100%
                padding: 8px 0
            .case_video
                height: auto
            .content_right
                padding-top: 32px
                .content_text
                    padding-top: 16px
        .ico_info .right
            padding-left: 23px
    .slide_wrap
        width: calc(100% - 32px)
        min-width: calc(100% - 32px)
    .we_done_slide
        flex-direction: column
        max-width: calc(100% - 32px)
        .we_done_slide_img
            max-width: 100%
            width: 100%
            max-height: 250px
            img
                max-width: 100%
                width: 100%
                height: 250px
                min-height: 100%
                object-fit: cover
        .we_done_slide_content
            width: 100%
            padding: 20px 16px
            .content-top
                padding: 0
            .slide_info_buttons
                padding: 0
                a
                    width: 100%
                    margin: 0
                    margin-bottom: 16px
                    text-align: center
    #offers_slider
        .offers_slide
            flex-direction: column
            .slide_info_buttons
                flex-direction: column
                a
                    width: 100%
                    text-align: center
                    margin-bottom: 16px
            .offers_slide_info
                padding: 0
                margin-top: 24px
                li
                    padding-left: 25px
    footer
        .footer_bottom
            flex-direction: column-reverse
            .subscribe_form
                width: 100%
            form
                flex-direction: column
                width: 100%
                label
                    padding-left: 0
                    margin-bottom: 16px
                div
                    width: 100%
                    +display_flex_row
                    align-items: center
                    justify-content: flex-start
                    flex-wrap: nowrap
                input
                    margin-left: 0
                    width: 100%
            .copy_and_social
                align-items: center
                width: 100%
                text-align: center
                .social
                    margin-top: 16px
@media only screen and (max-width : 599px)
    .content
        padding: 0
        .team, #about_us, .faq
            padding-right: 16px
            padding-left: 16px
        .contact_us
            width: calc(100% - 32px)
            margin-left: auto
            margin-right: auto
        .logo
            svg
                width: 140px
        .top_nav, a.login
            display: none
        .mob_menu_btn
            display: block
        .lang
            border-left: none
            margin: 0
            padding: 0
            &:before
                display: none
    header .content
        padding: 0 16px
    .advantages
        .slides_pagination
            left: calc(100% - 58px)
            bottom: 70px
    #advatages_slider
        .slide-img:after
            background-image: url("../img/bg/slide_image_bg_mobile.png")
            background-position: bottom
    .video_presentation
        flex-direction: column
        .video_presentation_title, .video_presentation_poster
            width: 100%
        .video_presentation_poster
            background-image: url("../img/bg/video_block_img_mobile.png")
            background-size: cover
            margin-top: 24px
            height: 216px
        .video_play
            left: 65%
            top: 115px
    .partners_top, .our_offers
        flex-direction: column
        align-items: flex-start
        ul
            justify-content: center
            width: 100%
            margin-top: 16px
            flex-wrap: nowrap
            li
                padding: 0 10px
    #about_us
        .about_us_content
            padding: 16px
    .contact_us
        padding: 16px
        .contact_us-top
            padding: 0
    .faq, #about_us, .team
        padding: 0
    .faq_content
        flex-direction: column
        .faq_quetions, .faq_answers
            min-width: 100%
            ul
                li
                    width: 100%
    #contact_us_form
        .file_input
            background-size: contain
            width: 240px
    footer
        padding-top: 16px
        padding-bottom: 32px
        .content
            padding: 0 16px
    .footer_top
        flex-direction: column
        margin-bottom: 0
        &>div
            margin-bottom: 16px
        .footer_nav
            border: none
            padding: 0
            width: 100%
            height: auto
            &:before
                display: none
            &:after
                display: none
            ul
                width: 100%
                flex-direction: row
                flex-wrap: nowrap
                padding: 16px 0
                li
                    margin: 0 5px !important
                    min-width: 50px
                    a
                        padding-left: 15px
    .footer_contacts
        +display_flex_row
        width: 100%
        justify-content: center
        &>p
            margin: 0 5px 16px 5px !important
            min-width: 182px
