@import "../css/font"
@import "_const"

*
    margin: 0
    padding: 0
    box-sizing: border-box
ul
    list-style-type: none
    li
        display: inline-block
body
    width: 100%
    min-width: 320px
    background:  linear-gradient(85.06deg, #020202 0%, #393939 100%)
    font: 16px/1 'Roboto-Regular'
    text-align: left
    color: white
    letter-spacing: 1px
    position: relative
    &:after
        content: ''
        position: absolute
        top: 0
        left: 0
        bottom: 0
        right: 0
        background-image: url('../img/bg/body_bg.png')
        opacity: .4
        z-index: -1
a
    text-decoration: none
    color: inherit
    outline: none
    transition: all .2s
button
    color: white
    outline: none
    border: none
    cursor: pointer
textarea
    resize: none
.btn
    background: linear-gradient(0deg, #3B7F8A 0%, #31DEE0 100%)
    transform: matrix(-1, 0, 0, 1, 0, 0)
.hero_title
    font: 32px/1 'Podkova-Medium'
    color: $accent
.block_title
    font: 24px/1 'Podkova-Regular'
    color: white
.subtitle
    font: 18px/1 'Podkova-Regular'
.heading_large
    font: 24px/1 'Podkova-Bold'
    position: relative
    padding: 10px
    &:before
        @extend %pseudo
        width: 10px
        height: 10px
        border-radius: 50%
        background: white
        top: 0
        left: 0
.heading
    font: 24px/1 'Podkova-Regular'
.subheading
    font: 18px/1 'Roboto-Medium'
.caption
    font: 12px/1 'Roboto-Bold'
    text-transform: uppercase
    letter-spacing: 2px
.small_text
    font: 12px/20px 'Roboto-Light'
.button_link
    font: 10px/1 'Roboto-Medium'
    text-transform: uppercase
.quote
    font: 24px/1 'Roboto-Italic'
.content
    width: 100%
    max-width: 1360px
    margin: 0 auto
    padding: 0 98px
.upper
    text-transform: uppercase
.bottom_border
    border-bottom: 2px solid rgba(0, 0, 0, 0.3)
    margin-bottom: 1px
    position: relative
    &:after
        @extend %pseudo
        height: 1px
        left: 0
        right: 0
        background: white
        opacity: .47
        bottom: -3px
#offers_slider a.caption, #we_done_slider a.caption, #case_popup_slider a.caption
    text-align: center
    position: relative
    padding-left: 18px
    transition: all .2s
    margin-right: 35px
    &:hover
        color: $accent
    &:before
        @extend %pseudo
        background-image: url("../img/svg_icons/link_arrow.svg")
        width: 13px
        height: 8px
        left: 0
        bottom: 3px
header
    position: fixed !important
    z-index: 99
    top: 0
    left: 0
    width: 100%
    min-width: 320px
    &.header_on_scroll
        background: $divs_bg
        .topline
            margin-bottom: 0
            justify-content: space-between
        .logo
            position: inherit
            transform: translateX(0)
            left: 0
        .top_nav
            position: inherit
            transform: translateX(0)
            left: 0
            top: 0
            padding: 0 10px
    .topline
        +display_flex_row
        justify-content: flex-end
        align-items: center
        position: relative
        margin-bottom: 46px
        height: 80px
        width: 100%
        min-width: 288px
        margin: 0 auto
    .mob_menu_btn
        +display_flex_row
        align-items: center
        display: none
        margin-left: 20px
    .logo
        padding: 13px 0
        position: absolute
        transform: translateX(-50%)
        top: 0
        left: 50%
    .top_nav
        position: absolute
        transform: translateX(-50%)
        left: 50%
        top: 80px
        width: 600px
        ul
            +display_flex_row
            flex-wrap: nowrap
            padding: 17px 5px
            .top_nav-separator
                width: 6px
                height: 6px
                border-radius: 50%
                background: $accent
        li
            +display_flex_row
            align-items: center
            width: auto
            transition: all .2s
            &.active
                color: $accent
            a
                display: inline-block
                position: relative
                white-space: nowrap
                &:hover
                    &:after
                        @extend %pseudo
                        bottom: -5px
                        background: $accent
                        height: 1px
                        left: 0
                        right: 0
    .login
        border: 1px solid white
        border-radius: 8px
        padding: 8px 18px
        +display_flex_row
        justify-content: flex-start
        align-items: center
        i
            display: inline-block
            width: 18px
            height: 18px
            background-image: url("../img/icons/member_icon.png")
            margin-right: 8px
            transition: all .2s
        &:hover
            color: $accent
            border-color: $accent
            i
                background-image: url("../img/icons/member_icon_hover.png")
    .lang
        height: 40px
        padding-left: 40px
        margin-left: 20px
        border-left: 1px solid rgba(0, 0, 0, 0.3)
        position: relative
        +display_flex_row
        align-items: center
        &:before
            @extend %pseudo
            width: 1px
            top: 0
            bottom: 0
            background: white
            opacity: .47
            left: 0
        a
            position: relative
            padding-right: 20px
            min-width: 45px
            &:after
                content: url("../img/svg_icons/arrow_to_bottom.svg")
                position: absolute
                right: 0
                top: 1px
.dropdown
    +display_flex_column
    background: $divs_bg
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.32)
    border-radius: 4px
    overflow: hidden
    position: absolute
    top: 100%
    right: 0
    z-index: 3
    display: none
    li
        padding: 10px 45px 10px 16px
        position: relative
        cursor: pointer
        min-width: 85px
        &:hover
            background: $text_medium
            &:after
                content: url("../img/svg_icons/arrow_to_left.svg")
                position: absolute
                right: 12px
                top: 11px
main
    background: url("../img/bg/bottom_abstraction.png") no-repeat left bottom
    background-size: contain
    margin-top: 126px
.advantages
    padding: 16px 16px 60px 90px
    position: relative
    background: $divs_bg
    min-height: 442px
.slides_pagination
    position: absolute
    left: 98px
    bottom: 32px
#advantages_slider_arrows
    position: absolute
    left: 150px
    bottom: 32px
    z-index: 10
.slider_arrows
    span
        width: 45px
        +display_flex_row
        justify-content: center
        align-items: flex-start
        cursor: pointer
        padding-bottom: 5px
        position: relative
        &:after
            @extend %pseudo
            left: 0
            right: 0
            bottom: -5px
            height: 1px
        &:hover
            &:after
                background: $accent
    button
        border: none
        outline: none
        background: none

.advantages_subscribe_form
    position: absolute
    z-index: 10
    right: 0
    bottom: 32px
    border-radius: 8px
    padding: 30px 75px 24px 30px
    +display_flex_column
    overflow: hidden
    background: linear-gradient(90.79deg, rgba(49, 222, 224, .4371), rgba(49, 222, 224, .22), rgba(49, 222, 224, 0) 99.82%)
    &>div
        +display_flex_row
        padding-bottom: 8px
        h4
            padding: 5px 0
.social
    +display_flex_row
    justify-content: flex-end
    align-items: center
    flex-wrap: nowrap
    a
        width: 18px
        height: 18px
        margin-right: 18px
        +display_flex_row
        align-items: center
        justify-content: center
        transition: all .2
        &:hover
            svg path
                transition: all .2s
                fill: $accent
        &.telegram
            margin-right: 0
.advantages_subscribe_us
    +display_flex_row
    align-items: center
    input
        width: 240px
        background: $divs_bg
        border: 1px solid $accent_dark
        border-radius: 8px
        padding: 4px 15px
        color: $accent
        outline: none
        &::placeholder
            color: white
    button
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #31DEE0
        border-radius: 8px
        padding: 7px 30px 7px 50px !important
        margin: 0 !important
        color: white
        outline: none
        border: none
        cursor: pointer
        margin-left: -14px !important
        &:after
            display: none
#advatages_slider
    .advantages_slide
        +display_flex_row
        flex-wrap: nowrap
        overflow: hidden
    .slide-img
        position: relative
        &:after
            @extend %pseudo
            background-image: url("../img/bg/slide_image_bg.png")
            top: -2px
            left: -2px
            right: -2px
            bottom: -2px
            background-repeat: no-repeat
            background-size: cover
        img
            height: auto
            width: 100%
    .slide-content
        padding-left: 10px
        min-height: 410px
        h1
            color: $accent
            position: relative
            padding: 10px
            margin-left: -10px
            &:before
                @extend %pseudo
                width: 10px
                height: 10px
                background: $accent
                top: 0
                left: 0
                border-radius: 50%
        p
            width: 293px
            margin-top: 24px
            max-height: 250px
            overflow: auto
        ul
            +display_flex_column
            max-width: 440px
            margin-top: 20px
            li
                padding-left: 36px
                position: relative
                margin-bottom: 12px
                font-size: 14px
                line-height: 18px
                &:before
                    @extend %pseudo
                    background-image: url("../img/svg_icons/ul_arrow.svg")
                    width: 12px
                    height: 8px
                    left: 0
                    top: 3px
a.btn-filled, button.btn-filled
    background: linear-gradient(180deg, #31DEE0 0%, #3B7F8A 100%), linear-gradient(180deg, #FFA24C 0%, #FE8A1F 100%)
    border-radius: 8px
    position: relative
    padding: 13px 18px
    padding-left: 50px
    display: inline-block
    margin-bottom: 3px
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25)
    margin-top: 10px
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.32)
    &:before
        @extend %pseudo
        width: 32px
        height: 12px
        left: 0
        top: calc(50% - 6px)
        background-image: url("../img/svg_icons/button_arrow.svg")
        background-repeat: no-repeat
        background-position: right
        transition: all .2s
    &:after
        @extend %pseudo
        left: 0
        right: 0
        top: 0
        bottom: -3px
        border-radius: 13px
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #3B7F8A
        z-index: -1
    &:hover
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(180deg, #31DEE0 0%, #3B7F8A 100%)
        &:before
            width: 42px
.video_presentation
    position: relative
    padding: 16px
    background: $divs_bg
    +display_flex_row
    align-items: center
    flex-wrap: nowrap
.video_presentation_title
    padding-left: 88px
    min-width: 44%
    position: relative
    padding-right: 45px
    &:before
        @extend %pseudo
        content: 'v'
        text-transform: uppercase
        font: 800 124px/1 'Podkova-Regular'
        color: #3B7F8A
        opacity: .2
        left: 60px
        top: -55px
    h4
        color: $accent
        margin-top: 10px
.video_presentation_poster
    background-image: url("../img/bg/video_block_img.png")
    background-repeat: no-repeat
    min-width: 50%
    height: 140px
.video_play
    @extend %centered
    background: rgba(59, 127, 138, 0.4)
    width: 91px
    height: 91px
    border-radius: 50%
    +display_flex_row
    align-items: center
    justify-content: center
    .video_btn_inner
        width: 65px
        height: 65px
        border-radius: 50%
        background: rgba(49, 222, 224, 0.6)
        .video_btn_body
            @extend %center
            width: 50px
            height: 50px
            border-radius: 50%
            background: #393939
            box-shadow: 0px 1.59467px 3.18934px rgba(0, 0, 0, 0.6)
            +display_flex_row
            align-items: center
            justify-content: center
            border-color: rgba(49, 222, 224, 0.6)
            border-width: 15px
            cursor: pointer
            svg
                margin-left: 2px
            &:hover
                svg
                    path
                        transition: all .2s
                        fill: $accent
.our_offers
    padding: 90px
    position: relative
.offers_top, .partners_top, .we_done_top
    +display_flex_row
    align-items: center
    ul
        +display_flex_row
    li
        padding: 0 30px 0 24px
        +display_flex_row
        align-items: center
        position: relative
        width: auto
        transition: all .2s
        height: 40px
        &:not(:last-child)
            border-right: 1px solid rgba(0, 0, 0, 0.3)
            &:after
                @extend %pseudo
                width: 1px
                background: white
                opacity: .47
                top: 0
                bottom: 0
                right: -2px
        a
            display: inline-block
            position: relative
            white-space: nowrap
            &.active
                color: $accent
            &:hover
                &:after
                    @extend %pseudo
                    bottom: -5px
                    background: $accent
                    height: 1px
                    left: 0
                    right: 0
#offers_slider_arrows
    position: absolute
    right: 100px
    bottom: 75px
#offers_slider
    margin-top: 45px
    .offers_slide
        +display_flex_row
        align-items: center
        justify-content: center
        flex-wrap: nowrap
.offers_slide_left
    +display_flex_column
    align-items: flex-end
    min-width: 320px
    position: relative
    &:before
        position: absolute
        content: 'I'
        font: 800 370px/1 'Podkova-Regular'
        color: rgba(158, 158, 158, 0.2)
        left: 0
        bottom: 15px
        z-index: -1
    img
        max-width: 233px
        margin-bottom: 20px
        box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.3), -8px 20px 28px rgba(0, 0, 0, 0.3)

.offers_slide_info
    +display_flex_column
    align-items: flex-start
    padding-left: 40px
    h2
        color: $accent
        padding: 0
        padding-bottom: 25px
        margin-bottom: 24px
        &:before
            width: 52px
            height: 1px
            background: #BFD8D8
            left: 0
            top: 100%
    ul
        +display_flex_column
        max-width: 440px
        li
            padding-left: 36px
            position: relative
            margin-bottom: 20px
            font-size: 14px
            line-height: 18px
            &:before
                @extend %pseudo
                background-image: url("../img/svg_icons/ul_arrow.svg")
                width: 12px
                height: 8px
                left: 0
                top: 3px
.slide_info_buttons
    +display_flex_row
    justify-content: flex-start
    align-items: center
    padding-left: 36px
    a.read-more
        margin-right: 24px
    a.btn-filled
        margin: 0

.read-more
    border: 1px solid white
    border-radius: 8px
    padding: 12px 24px
    &:hover
        color: $accent
        border-color: $accent
.partners
    padding: 30px 90px
.partners_content
    +display_flex_row
    justify-content: center
    padding: 30px 0
    .partner
        width: 245px
        +display_flex_row
        align-items: center
        justify-content: center
        padding: 25px 15px
        img
            transition: all .3s
            max-width: 100%
            max-height: 30px
        img.color
            display: none
            opacity: 0
        &:hover
            img.mono
                display: none
            img.color
                display: block
                opacity: 1
.we_done
    padding: 20px 90px
.slide_wrap
    +display_flex_row
    justify-content: center
    max-width: 984px
    min-width: 700px
    margin: auto
.we_done_slide
    +display_flex_row
    overflow: hidden
    justify-content: flex-start
    border-radius: 8px
    position: relative
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.32)
    h2
        padding: 0
        padding-bottom: 25px
        margin-bottom: 24px
        margin-top: 35px
        &:before
            width: 52px
            height: 1px
            background: $accent
            top: 100%
    .we_done_slide_img
        max-width: 494px
        width: 50%
        overflow: hidden
        img
            min-height: 450px
            width: auto
    .we_done_slide_content
        +display_flex_column
        justify-content: center
        width: 50%
        flex-grow: 1
    .content-top
        padding-left: 40px
        padding-right: 24px
        .status_and_link
            +display_flex_row
            align-items: center
            a
                margin: 0 !important
            span
                padding-left: 26px
                position: relative
                &:before
                    @extend %pseudo
                    width: 16px
                    height: 16px
                    left: 0
                    top: -3px
                    background-image: url("../img/icons/live.png")

        .raised
            margin-top: 16px
            margin-bottom: 24px
            padding-left: 40px
            position: relative
            &:before
                @extend %pseudo
                width: 23px
                height: 23px
                background-image: url("../img/icons/portmone.png")
                left: 0
                top: 8px
    &:before
        @extend %pseudo
        background: $divs_bg
        border-radius: 8px
        top: 0
        left: 0
        right: 0
        bottom: 0
        z-index: -2
    &:after
        @extend %pseudo
        background: linear-gradient(0deg, #4F4F4F, #4F4F4F), rgba(0, 0, 0, 0.6)
        border-radius: 8px
        top: 0
        left: 2px
        right: 2px
        bottom: -2px
        z-index: -3
.slide_wrap
    padding: 20px 0 7px 0
.team
    padding: 50px 55px
    h2
        margin-left: 32px
.team-content
    padding-top: 40px
    +display_flex_row
    justify-content: center
.team-member
    width: 18%
    min-width: 200px
    height: 274px
    margin-right: 10px
    +display_flex_column
    margin-bottom: 10px
    a.read-more
        padding: 6px 15px
        width: 129px
        text-align: center
        margin-bottom: 23px
.member-info
    +display_flex_row
    .member_photo
        img
            max-width: 87px
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.32)
    .member_main
        width: calc(100% - 87px)
        padding-left: 12px
        +display_flex_column
        justify-content: center
        position: relative
        .member_letter
            position: absolute
            left: -7px
            top: 0
            color: rgba(59, 127, 138, 0.24)
            font: normal 72px/40px 'Podkova-Regular'
            z-index: -1
        .member_name
            line-height: 20px
        .member_position
            margin: 10px 0
            opacity: .8
        .social
            +display_flex_row
            justify-content: flex-start
.member-description
    max-height: calc(15px * 5)
    overflow: hidden
    margin: 12px 0 16px 0
    line-height: 15px

.faq
    padding: 0 90px
    margin-top: 90px
.faq_content
    +display_flex_row
    .faq_quetions ul
        padding-top: 40px
        +display_flex_column
        li
            width: 275px
            border-bottom: 2px solid white
            a
                +display_flex_row
                align-items: center
                min-width: 100%
                padding: 15px 15px 10px 55px
                text-align: center
                position: relative
                overflow: hidden
                svg
                    position: absolute
                    left: -24px
                    transition: all .2s
            &:hover
                color: $accent
                svg
                    left: 0
                    path
                        fill: $accent

    .faq_logo
        background-image: url("../img/bg/question.png")
        background-repeat: no-repeat
        background-position: center
        min-height: 332px
        +display_flex_row
        align-items: center
        justify-content: center
        img
            max-width: 294px
    .faq_answers
        max-width: 310px
        margin: 0 15px
    .answer
        +display_flex_column
        align-items: flex-start
        padding-top: 15px
        h5
            font: normal 24px/1 'Roboto-Regular'
            padding-bottom: 16px
            margin-bottom: 16px
            padding-top: 36px
            position: relative
            &:after
                @extend %pseudo
                left: 0
                bottom: 0
                height: 1px
                width: 52px
                background: $accent
.contact_us
    width: 100%
    max-width: 650px
    border: 1px solid #9E9E9E
    margin: 0 auto
    padding: 72px 160px 32px 160px
    margin-top: 100px
    border-bottom: none
.contact_us-top
    +display_flex_row
    align-items: center
    padding: 0 32px
    h2
        padding: 0
        &:before
            display: none
a.callback
    color: $accent
    border: 1px solid $accent
    padding: 8px 10px 8px 32px
    border-radius: 8px
    overflow: hidden
    position: relative
    &:before
        content: ''
        mask: url("../img/svg_icons/callback_arrow.svg") no-repeat 50% 50%
        mask-size: cover
        position: absolute
        left: -3px
        top: 7px
        transition: all .2s
        background-color: $accent
        width: 24px
        height: 13px
    &:hover
        color: white
        border-color: white
        &:before
            background-color: white
#contact_us_form, .popup_form, #login_form, #registration_form
    padding-top: 32px
    .form_field
        +display_flex_column
        margin-bottom: 15px
    label
        padding: 5px 20px
        color: rgba(255, 255, 255, 0.7)
    input, textarea
        background: transparent
        padding: 8px 15px
        border: 1px solid white
        border-radius: 4px
        color: white
        outline: none
        &::placeholder
            opacity: 0.8
        &:focus
            border-color: $accent
    .file_input
        background-image: url("../img/bg/file_input.png")
        background-repeat: no-repeat
        background-size: cover
        width: 302px
        height: 29px
        margin: 0 auto
        margin-bottom: 25px
        margin-top: 25px
        position: relative
        label
            display: block
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            cursor: pointer
        span
            opacity: 0.7
            display: block
            width: fit-content
            margin: 0 auto
            line-height: 18px
        input
            display: none
    .check_and_send
        +display_flex_row
        flex-wrap: nowrap
        align-items: flex-start
        button
            margin: 0
        input
            display: none
            &:checked
                & + label:after
                    @extend %pseudo
                    width: 12px
                    height: 9px
                    background-image: url("../img/svg_icons/checked.svg")
                    left: 2px
                    top: 7px
        label
            padding: 0
            padding-left: 24px
            margin-right: 25px
            position: relative
            cursor: pointer
            &:before
                @extend %pseudo
                width: 16px
                height: 16px
                background: white
                border-radius: 4px
                left: 0
                top: 3px
        label a
            color: $accent_dark
.popup_form
    .dropdown
        font-size: 12px
    input:not([type="file"])
        width: 100%
#login_form, #registration_form
    input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active
        transition: background-color 5000s ease-in-out 0s
        -webkit-text-fill-color: black !important
        color: black !important
footer
    background: $divs_bg
    position: relative
    padding-top: 75px
    padding-bottom: 45px
    overflow: hidden
    &:before
        @extend %pseudo
        background-image: linear-gradient(36.53deg, #3E3E3E 0.2%, #555555 15.25%, #555555 87.33%, #3E3E3E 99.8%)
        height: 4px
        left: 0
        top: 0
        right: 0
    .content
        padding: 75px 195px 50px 195px
.footer_top
    +display_flex_row
    justify-content: space-between
    align-items: center
    flex-wrap: nowrap
    margin-bottom: 50px
    .bottom_logo
        justify-self: flex-start
    .footer_nav
        height: 100px
        border-right: 1px solid rgba(0, 0, 0, 0.3)
        border-left: 1px solid rgba(0, 0, 0, 0.3)
        position: relative
        +display_flex_row
        align-items: center
        padding: 0 90px
        &:before
            @extend %pseudo
            top: 0
            bottom: 0
            left: 0
            background: white
            width: 1px
            opacity: 0.47
        &:after
            @extend %pseudo
            top: 0
            bottom: 0
            right: -2px
            background: white
            width: 1px
            opacity: 0.47
        ul
            +display_flex_row
            align-items: center
            width: 200px
        li
            position: relative
            min-width: 85px
            text-align: left
            &:nth-child(odd)
                margin-right: 15px
            a
                padding-left: 22px
                &:before
                    @extend %pseudo
                    width: 6px
                    height: 6px
                    border-radius: 50%
                    background: white
                    left: 0
                    top: 6px
                    transition: all .2s
                &:hover
                    color: $accent
                    &:before
                        background: $accent
    .footer_contacts p
        +display_flex_column
        position: relative
        padding-left: 40px
        span
            margin-bottom: 5px
        &.footer_email
            margin-bottom: 15px
            &:before
                @extend %pseudo
                background-image: url("../img/svg_icons/email.svg")
                width: 23px
                height: 18px
                left: 0
                top: calc(50% - 12px)
        &.footer_phone
            &:before
                @extend %pseudo
                background-image: url("../img/svg_icons/phone.svg")
                width: 20px
                height: 20px
                left: 1px
                top: calc(50% - 13px)
.footer_bottom
    .copy_and_social
        border-right: 1px solid rgba(0, 0, 0, 0.3)
        width: 50%
        &:after
            @extend %pseudo
            top: 0
            bottom: 0
            right: -2px
            background: white
            width: 1px
            opacity: 0.47
    +display_flex_row
    flex-wrap: nowrap
    .subscribe_form
        +display_flex_row
        align-items: center
        width: 50%
    form
        +display_flex_row
        justify-content: flex-end
        align-items: center
        flex-wrap: nowrap
        width: 100%
        label
            min-width: 120px
            padding-left: 15px
        button
            line-height: 20px
            padding: 5px 18px
            padding-left: 50px
            margin: 0
        div
            width: calc(100% - 130px)
        input
            background: transparent
            border: 1px solid white
            width: calc(100% - 130px)
            padding: 6px 15px
            border-radius: 8px
            font: 14px 'Roboto-Bold'
            margin-right: -20px
            margin-left: 20px
            color: white
            outline: none
            font: 12px/1 'Roboto-Bold'
            text-transform: uppercase
.copy_and_social
    +display_flex_row
    align-items: center
    padding-right: 55px
    position: relative
.popup_logo
    width: 203px
    height: 50px
    background-image: url("../img/logo/logo.png")
    background-size: contain
    background-repeat: no-repeat
.popup_close
    width: 40px
    height: 40px
    background-image: url("../img/svg_icons/close_popup.svg")
    background-repeat: no-repeat
    background-size: contain
#popup_wrapper
    min-width: 100%
    min-height: 100%
    background:  linear-gradient(85.06deg, #020202 0%, #393939 100%)
    position: fixed
    top: 0
    left: 0
    z-index: 97
    display: none
    &:after
        content: ''
        position: absolute
        top: 0
        left: 0
        bottom: 0
        right: 0
        background-image: url('../img/bg/body_bg.png')
        opacity: .4
        z-index: 98
#team_popup_wrapper
    background: rgba(62, 62, 62, 0.7)
    position: fixed
    min-width: 100%
    min-height: 100%
    top: 0
    left: 0
    z-index: 99
    display: none

.contact_us_popup, .callback_popup
    width: 100%
    min-width: 320px
    max-width: 1036px
    position: fixed
    margin: 0 auto
    top: 0
    left: 50%
    transform: translateX(-50%)
    z-index: 100
    +display_flex_column
    justify-content: space-between
    align-items: center
    display: none
    max-height: 100vh
    overflow: auto
.callback_popup
    .callback_popup_header, .callback_footer
        padding-top: 64px
    .callback_popup_content
        padding-top: 40px
        padding-bottom: 40px
.popup_header
    +display_flex_row
    align-items: center
    width: 100%
    max-width: calc(972px + 64px)
    padding: 0 32px
    padding-top: 64px
    .popup_close
        opacity: 0.7
        cursor: pointer
        &:hover
            opacity: 1
.popup_content
    +display_flex_column
    width: 100%
    padding: 170px 10% 100px 10%
.popup_form
    +display_flex_row
    .popup_form_right, .popup_form_left
        width: calc( (100% - 18px) / 2 )
    textarea
        overflow: hidden
    .dropdown
        left: 0
    .with_dropdown
        position: relative
        input
            cursor: pointer
        &:after
            position: absolute
            content: url("../img/svg_icons/arrow_to_bottom.svg")
            right: 10px
            top: calc(50% + 2px)

.popup_footer
    width: 100%
    padding: 32px 32px
    max-width: 972px
    border-top: 1px solid rgba(0, 0, 0, 0.3)
    position: relative
    margin: 0 auto
    &:before
        @extend %pseudo
        top: 0
        left: 0
        right: 0
        background: white
        height: 1px
        opacity: .47
    .copy_and_social
        padding: 0
#date_callback_popup
    position: relative
    z-index: 2
.date:after
    z-index: 0
.timezone_dropdown
    max-height: 180px
    li
        display: block
.login_registration_popup
    border-radius: 8px
    overflow: auto
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.32)
    +display_flex_column
    width: 314px
    position: fixed
    left: 50%
    transform: translateX(-50%)
    top: 20vh
    z-index: 100
    display: none
    max-height: 80vh
.login_registration_popup_nav
    border-radius: 8px 8px 0 0
    overflow: hidden
    +display_flex_row
    background: linear-gradient(177.88deg, #636363 4.58%, #3E3E3E 95.43%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(177.88deg, #3E3E3E 4.58%, #555555 95.43%)
    & > div
        width: 50%
        &.active
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(178.93deg, #3E3E3E 4.58%, #555555 95.43%)
        &:first-child
            border-right: 1px solid rgba(0, 0, 0, 0.3)
        &:last-child
            border-left: 1px solid rgba(255, 255, 255, 0.47)
    a
        +display_flex_row
        align-items: center
        justify-content: center
        align-items:
        height: 58px
        svg
            margin-right: 10px
.login_registration_popup_content
    padding: 32px 24px 16px 24px
    background: #fff
    .login, .reg
        display: none
        &.active
            display: flex
.login_registration_popup_footer
    background: #FFFFFF
    padding: 0 24px 24px 24px
    .login_footer_heading
        color: #666666
        text-align: center
        position: relative
        &:before
            @extend %pseudo
            height: 1px
            width: 47px
            left: 0
            top: 50%
            background: #666666
            opacity: 0.47
        &:after
            @extend %pseudo
            height: 1px
            width: 47px
            right: 0
            top: 50%
            background: #666666
            opacity: 0.47
    .social
        +display_flex_row
        justify-content: center
        margin-top: 15px
        a
            width: 32px
            height: 32px
            margin: 0 12px
        .google_plus
            background-image: url("../img/svg_icons/google_plus_login.svg")
            &:hover
                background-image: url("../img/svg_icons/google_plus_login_hover.svg")
        .twitter
            background-image: url("../img/svg_icons/twitter_login.svg")
            &:hover
                background-image: url("../img/svg_icons/twitter_login_hover.svg")
        .facebook
            background-image: url("../img/svg_icons/facebook_login.svg")
            &:hover
                background-image: url("../img/svg_icons/facebook_login_hover.svg")
#login_form, #registration_form
    padding: 0
    width: 100%
    +display_flex_column
    .login_mail,
    .password_mail,
    .name_password,
    .email_register,
    .password_register,
    .password_repeat_register,
    .user_type_register
        position: relative
        &:before
            position: absolute
            content: url("../img/svg_icons/mail.svg")
            top: 9px
            left: 15px
    .password_mail:before, .password_register:before, .password_repeat_register:before
        content: url("../img/svg_icons/password.svg")
        top: 7px
    .name_password:before
        content: url("../img/svg_icons/person.svg")
        top: 7px
        left: 16px
    .user_type_register
        position: relative
        &:before
            content: url("../img/svg_icons/who_am_i.svg")
        &:after
            position: absolute
            content: url("../img/svg_icons/who_am_i_dropdown.svg")
            right: 15px
            top: 8px
        ul
            width: 100%
            top: calc(100% - 8px)
    label
        color: #9E9E9E
    input
        width: 100%
        border: 1px solid #BFD8D8
        border-radius: 4px
        outline: none
        margin-bottom: 8px
        color: #212121
        font: normal 16px/21px 'Roboto-Regular'
        padding: 5px 10px 5px 42px
        transition: all .2s
        &:focus
            border-color: $accent
        &::placeholder
            color: #666666
    .check_and_send
        .form_field
            margin: 0
        align-items: center
        label:before
            background: #393939
            top: 1px
        input:checked + label:after
            top: 5px
#registration_form
    .check_and_send
        flex-direction: column
        label a
            color: #2f2f2f
        button
            width: 100%
a.show_password
    position: absolute
    top: 9px
    right: 10px
.team_popup
    width: 90%
    max-width: 972px
    background: #3E3E3E
    border-radius: 8px
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.32)
    position: fixed
    top: 20vh
    left: 50%
    transform: translateX(-50%)
    max-height: 80vh
    overflow: auto
    z-index: 100
    display: none
    overflow: auto
    .team_popup_content
        width: 100%
        +display_flex_row
        flex-wrap: nowrap
    .popup_close
        position: absolute
        top: 24px
        right: 24px
        cursor: pointer
        opacity: 0.7
        &:hover
            opacity: 1
    .team_popup_left
        margin: 24px 0
        width: 32%
        padding: 48px 0 48px 69px
        +display_flex_column
        flex-wrap: nowrap
        border-right: 1px solid rgba(0, 0, 0, 0.3)
        .member-info
            flex-direction: column
            .member_photo
                margin-bottom: 20px
            .member_main
                padding: 0
                .member_letter
                    left: -24px
                    top: -10px
                .member_position
                    margin: 20px 0 !important
    .team_popup_right
        width: 68%
        border-left: 1px solid rgba(255, 255, 255, 0.47)
        margin: 24px 0
        padding: 24px
        padding-right: 90px
        +display_flex_column
        justify-content: center
        .member-description
            max-height: 100%
            margin: 0
            p
                margin-bottom: 10px
                font-size: 14px
            &:not(:last-child)
                margin-bottom: 24px
.case_popup
    //display: none
    //position: fixed
    //top: 0
    //left: 0
    //z-index: 100
    width: 100%
    min-width: 320px
    //max-height: 104vh
    //overflow: auto
    .we_done_top
        padding: 40px 32px
        max-width: 972px
        margin: 0 auto
    .slide_wrap
        max-width: 972px
        margin-bottom: 40px
    .we_done_slide
        flex-direction: column
    .we_done_slide_img
        background: #3e3e3e
        min-width: 100%
        overflow: hidden
        img
            min-height: 283px
            display: block
            margin: 0 auto
    .we_done_slide_content
        width: 100%
        +display_flex_row
        flex-wrap: nowrap
        position: relative
        .video_wrapper
            position: relative
            padding-bottom: 56.25% /* 16:9 */
            padding-top: 25px
            width: 100%
            height: 100%
            iframe
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                border: none
        .content_left
            width: 384px
            padding: 28px 46px 40px 64px
            h2
                margin-top: 0
            .slide_info_buttons
                flex-direction: column
                padding: 0
            a
                width: 100%
                margin-bottom: 16px
                text-align: center
                &.read-more
                    margin: 0
        .content_right
            width: calc(100% - 384px)
            padding-top: 34px
            padding-right: 64px
            padding-bottom: 40px
            .content-top
                padding: 0
            .content_text
                padding-top: 54px
                p
                    margin-bottom: 16px
.case_video
    width: 100%
    height: 155px
    background: #161616
    margin-bottom: 8px
    +display_flex_row
    justify-content: center
    align-items: center
    a
        margin: 0 !important
        max-width: 36px
.ico_info
    +display_flex_row
    padding: 16px 0
    .left
        width: 50%
    .right
        width: 50%
        padding-left: 30px
.participations
    padding-top: 16px
    ul
        +display_flex_column
        margin-bottom: 28px
        li
            padding: 4px 0
            padding-left: 25px
            position: relative
            &:before
                position: absolute
                content: url("../img/svg_icons/ul_arrow.svg")
                left: 0
.case_popup_top
    padding: 0 32px
    padding-top: 24px
    max-width: 972px
    margin: 0 auto
    +display_flex_row
    justify-content: flex-end
    align-items: center
    opacity: .7
    span
        margin-right: 16px
    &:hover
        opacity: 1
        cursor: pointer
#about_us
    padding: 0 90px
    .about_us_content
        margin: 32px 0
        border: 1px solid #9E9E9E
        padding: 32px
        position: relative
        &:after
            content: ''
            background-image: url("../img/bg/illuminates.svg")
            background-repeat: no-repeat
            background-size: contain
            background-position: center
            left: 16px
            right: 16px
            top: 0
            bottom: 0
            position: absolute
            z-index: -1
            opacity: .25
        p
            font-size: 14px
            margin-bottom: 24px
            line-height: 18px
            text-indent: 30px
            &:last-child
                margin: 0
            span
                display: block
                text-align: right
#success_popup, #error_popup
    width: 100%
    max-width: 1072px
    padding: 22px 16px
    text-align: center
    +display_flex_row
    align-items: center
    justify-content: center
    flex-wrap: nowrap
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.32)
    position: fixed
    top: 80px
    left: 50%
    transform: translateX(-50%)
    z-index: 101
    display: none
    span
        margin-left: 10px
        line-height: 18px
        font-size: 14px
#success_popup
    background: #55BC65
#error_popup
    background: #ED4A59
.mobile_menu
    display: none
    width: 100%
    padding: 24px
    position: fixed
    left: 0
    top: 80px
    z-index: 98
    overflow: auto
    max-height: calc(100vh - 80px)
    .login
        border: 1px solid white
        border-radius: 8px
        padding: 8px 18px
        +display_flex_row
        justify-content: center
        align-items: center
        i
            display: inline-block
            width: 18px
            height: 18px
            background-image: url("../img/icons/member_icon.png")
            margin-right: 8px
            transition: all .2s
        &:hover
            color: $accent
            border-color: $accent
            i
                background-image: url("../img/icons/member_icon_hover.png")
    &>ul
        +display_flex_column
        align-items: center
        margin-bottom: 65px
        li
            padding-top: 16px
            position: relative
            a:hover
                color: $accent
            &:not(:last-child)
                padding-bottom: 22px
                &:after
                    @extend %pseudo
                    left: 50%
                    transform: translateX(-50%)
                    width: 6px
                    height: 6px
                    border-radius: 50%
                    background-color: $accent
                    bottom: 0
    .mob_subscribe
        +display_flex_row
        align-items: center
        justify-content: center
        padding-bottom: 16px
        h4
            margin-right: 25px
        a:hover
            svg
                path
                    fill: $accent
    .mob_menu_bottom
        padding-top: 20px
        +display_flex_row
        .lang
            height: 40px
            margin-left: 20px
            position: relative
            +display_flex_row
            align-items: center
            ul
                top: -60px
            a
                position: relative
                padding-right: 25px
                min-width: 45px
                &:after
                    content: url("../img/svg_icons/arrow_to_bottom.svg")
                    position: absolute
                    right: 0
                    top: 1px

@import "_media"
